body {
  background: url('https://images.unsplash.com/photo-1504387103978-e4ee71416c38?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=864eaecaf88546a104521ac381504e4b&auto=format&fit=crop&w=1534&q=80') 50% 50% no-repeat;
  background-size: cover;
  background-color: black;
  color: white;
}

p {
  font-size: 1.2rem;
  text-align: center;
}

button, select {
  min-width: 200px;
  font-size: 1rem;
  font-weight: bold;
  color: white;
  padding: 9px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: rgb(0,0,0,0.0);
}

button:hover {
  color: black;
  background-color: white;
}

.main ul {
  text-align: center;
  list-style-type: none;
  padding: 0;
}

li {
  padding: 6px;
}

.quizWindow {
  width: 75%;
  background-color: rgb(0,0,0,0.5);
  border-radius: 35px;
  opacity: 50%;
  padding: 20px;
}

.App-header {
  background-color: rgb(0,0,0,0.5);
  padding: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  text-align: center;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}


.nextButtonDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#wrong {
  color: red;
}

#correct {
  color: green;
}

.menuContainer {
    display: grid;
    grid-template-rows: auto;
}

.menuDiv {
  padding: 12px;
}

select {
  width: 250px;
}

@media  (min-width: 950px) {
  .menuContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}